.add{
	/*background: rgba(255,255,255,.1);*/
	color: #FFF !important;
	line-height: 36px;
	width: 36px;
	position: absolute;
	right: -0.5px;
	text-align: center;
	z-index: 100;
	display: block;
}
.add:hover{
	background: rgba(255,255,255,.3);
}
html > .bg-white{
	background-color: rgba(0,0,0,0);
}

#mock{
	margin-left: -1.5rem;
}

